html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #E6E6E6;
}

.container{
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.buttonsBox{
    padding-top: 1%;
}

.card{
    width: 100%;
    height: 95%;
    color: black;
    margin-top: 4%;
    margin-bottom: 5%;
    -webkit-box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0.5px 8px 0px rgba(0,0,0,0.75);
    background-color: #E6E6E6;
}

.lightBg{
    background-color: #fffff4;
}

.card-img-top{
    border-radius: 0px;
}

.sky {
    background: linear-gradient(90deg, #87bcde, #edddcd, #86cdee);
    background-size: 600% 600%;

    -webkit-animation: sky 21s ease infinite;
    -moz-animation: sky 21s ease infinite;
    animation: sky 21s ease infinite;
}
@-webkit-keyframes sky {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@-moz-keyframes sky {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}
@keyframes sky {
    0%{background-position:0% 20%}
    50%{background-position:100% 81%}
    100%{background-position:0% 20%}
}

.modal {
    display:block;
}